In [1]:
import pandas as pd

In [7]:
df=pd.read_csv('training_images/training_images.csv')

In [10]:
df.T

                            0                  1
Unnamed: 0                  0                  1
0           [0 0 0 ... 0 0 0]  [0 0 0 ... 0 0 0]
1           [0 0 0 ... 0 0 0]  [0 0 0 ... 0 0 0]
2           [0 0 0 ... 0 0 0]  [0 0 0 ... 0 0 0]
3           [0 0 0 ... 0 0 0]  [0 0 0 ... 0 0 0]
...                       ...                ...
3995        [0 0 0 ... 0 0 0]  [0 0 0 ... 0 0 0]
3996        [0 0 0 ... 0 0 0]  [0 0 0 ... 0 0 0]
3997        [0 0 0 ... 0 0 0]  [0 0 0 ... 0 0 0]
3998        [0 0 0 ... 0 0 0]  [0 0 0 ... 0 0 0]
3999        [0 0 0 ... 0 0 0]  [0 0 0 ... 0 0 0]

[4001 rows x 2 columns]